@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

main {
    background-color: #f4effa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #FFF;
    width: 100%;
    padding: 20px 0;
}

.menu {
    width: 100%;
    margin-right: 300px;
}

.menu nav a {
    color: #000;
    text-decoration: none;
    padding-right: 50px;
    cursor: pointer;
    font-size: 18px;
    position: relative;
}

.menu nav a::after {
    content: " ";
    width: 0px;
    height: 5px;
    background: linear-gradient(45deg, #957fef, #7161ef);
    position: absolute;
    top: 22px;
    left: 0;
    transition: width 0.5s;
    border-radius: 10px;
}

.menu nav a:hover::after {
    width: 52px;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
}

.input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: 0.3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
.input:hover {
    outline: none;
    border-color: rgba(234, 226, 183, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 226 183 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}


  .Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(163, 142, 255);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 0px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }

.retangulo {
  background-color: #111827;
  border-radius: 15px;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center; 
  color: white; 
  box-shadow: 1px #000;
}
  

.texto {
  font-family: "Montserrat", sans-serif; 
  font-optical-sizing: auto; 
  font-weight: bold; 
  font-size: 100px; 
  text-transform: uppercase; 
  background: linear-gradient(45deg, #b8b8ff, #957fef, #7161ef, #b8b8ff); 
  background-size: 400% 100%;
  animation: degrade 10s linear infinite alternate;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 550px;
}

@keyframes degrade {
  0%{
    background-position-x: 0%;
  }

  100%{
    background-position: 400%;
  }
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{ 
  width: 10px;
  background-color: #957fef;
}/*barrinha */

.mamain{
  display: block;
}

.information{
  margin-top: 80px;
  display: flex;
}

.card {
  width: 190px;
  height: 254px;
  background: #f5f5f5;
  padding: 2rem 1.5rem;
  transition: box-shadow .3s ease, transform .2s ease;
 }
 
 .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .2s ease, opacity .2s ease;
 }
 
 /*Image*/
 .card-avatar {
  --size: 60px;
  background: linear-gradient(to top, #7161ef 0%, #b79ced 100%);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform .2s ease;
  margin-bottom: 1rem;
 }
 
 
 /*Card footer*/
 .card-social {
  transform: translateY(200%);
  display: flex;
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: transform .2s ease, opacity .2s ease;
  margin-right: 70px;
  padding-right: 150px;
 }
 
 .card-social__item {
  list-style: none;
  
 }
 
 .card-social__item svg {
  display: block;
  height: 18px;
  width: 18px;
  fill: #515F65;
  cursor: pointer;
  transition: fill 0.2s ease ,transform 0.2s ease;
  padding-right: 28px;
 }
 
 /*Text*/
 .card-title {
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
 }
 
 .card-subtitle {
  color: #859ba8;
  font-size: 0.8em;
 }
 
 /*Hover*/
 .card:hover {
  box-shadow: 0 8px 50px #23232333;
 }
 
 .card:hover .card-info {
  transform: translateY(-5%);
 }
 
 .card:hover .card-social {
  transform: translateY(100%);
  opacity: 1;
 }
 
 .card-social__item svg:hover {
  fill: #232323;
  transform: scale(1.1);
 }
 
 .card-avatar:hover {
  transform: scale(1.1);
 }

 .cards{
  margin-top: 150px;
  justify-content: space-around;
  display: flex;
  padding-right: 150px;
  padding-left: 150px;
 }

 .information_pwbe{
  display: inline-block;
  position: relative;
 }

 .information_pwbe p {
  position: absolute;
  top: 50px;
  right: 800px;
  left: 800px;
  font-size: 40px;
  color: white;
  
 }

